body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background: #ffffff;
color: #222;
}


/* Banner */
.banner {
background: #0b5fdb;
padding: 60px 20px;
text-align: center;
color: white;
width: 100%;
box-sizing: border-box;
}


.banner .logo-icon {
font-size: 48px;
margin-bottom: 10px;
}


.banner h1 {
font-size: 42px;
margin: 0;
font-weight: 600;
}


.banner p {
font-size: 18px;
margin-top: 10px;
opacity: 0.9;
}


/* Main Layout */
.content-wrapper {
width: 100%;
max-width: 1400px;
margin: 40px auto;
padding: 0 30px;
box-sizing: border-box;
}


.layout {
display: flex;
gap: 60px;
width: 100%;
box-sizing: border-box;
justify-content: space-between;
}


/* Articles */
.articles {
flex: 1 1 50%;
}


.articles h2 {
font-size: 26px;
margin-bottom: 25px;
}


.article {
margin-bottom: 35px;
padding-bottom: 20px;
border-bottom: 1px solid #ededed;
}


.article h3 {
font-size: 20px;
}
